* {padding:0;margin:0;}

.container {
	font-family: tahoma;
	width: 80%;
    margin: 30px auto;
	font-size: 18px;
	height: auto;
	text-align: justify;
}

img{
   max-width: 100%;
   height:auto;
   margin-bottom: 10px;
   clear: right;
}

.break {
	padding-bottom: 10px;
	font-weight: bold;
}
